<div class="col-12 px-0" ng-controller="CariListeCtrl" ng-init="YeniEvrak()">
    <div class="page-content container-fluid">
        <div class="tab-content">
            <div id="TbMain" class="tab-pane active">
                <div class="panel-body px-1">
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h4 text-primary">Cari Listesi</label> 
                        </div>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-4 px-1">
                            <button type="button" ng-click="CariEkleClick()" class="btn btn-primary">Yeni Ekle</button>
                        </div>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-4 px-1">
                            <select class="form-control" ng-model="CmbCariAra" ng-disabled="EvrakLock">
                                <option value="0">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-keypress = "BtnCariListeleEnter($event)" ng-model="TxtCariAra" ng-disabled="EvrakLock">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary"  ng-click="BtnCariListele()"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 offset-5" ng-show="Loading" >
                            <div class="loader vertical-align-middle loader-circle"></div>
                        </div>
                    <div class="row py-1 px-1" ng-show="TblLoading">           
                        <div id="TblCari"></div>                        
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h6 text-primary">Cari Detay Bilgilerini Görmek İçin Satıra Tıklayınız.</label> 
                        </div>
                    </div>
                </div>
            </div>
            <div id="TbDetay" class="tab-pane">
                <div class="panel px-0">
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h4 text-primary">Cari Listesi</label> 
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-4">
                            <button class="form-group btn btn-block btn-primary" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="text-primary"><h4 class="text-center text-primary">{{CariKodu}} - {{CariAdi}} - {{CariUnvan2}}</h4></div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">V.D Adı - No :</label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{CariVDADI}} - {{CariVDNO}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">Adres : </label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{Adres}} {{Adres1}} {{Adres2}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">Tel No :</label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{Telnolge}}{{TelNo1}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">Ana Bakiye :</label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{CariBakiyeAna}} TL  </label></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">Alternatif Bakiye :</label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{CariBakiyeAtl}} USD  </label></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-info"><label class="form-control-label float-right">O. Doviz Bakiye 2:</label></div>
                        <div class="col-6 px-0"><label class="form-control-label pl-10">{{CariBakiyeOrj}} {{DovizSembol}}  </label></div>
                    </div>
                </div>
            </div>
            <div id="TbCariEkle" class="tab-pane">
                <div class="panel">
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h4 text-primary">Cari Ekle</label> 
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="InsertLock" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cari Kodu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariEkleKodu" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Unvan 1 :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariEkleUnvan1" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Unvan 2 :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariEkleUnvan2" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Vergi Daire Adı :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="VergiDaire" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Vergi Daire No :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="VergiNo" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Mail Adresi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Mail" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cep Telefonu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Telefon" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Adres-1 :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Adres1" ng-disabled="EvrakLock">
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Adres-2 :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Adres2" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">İl :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Il" ng-disabled="EvrakLock">
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">İlçe :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Ilce" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cari Tipi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select class="form-control" ng-model="CariTip" ng-disabled="EvrakLock">
                                <option value="0">Müşteri</option>
                                <option value="1">Satıcı</option>
                                <option value="2">Diğer Cari</option>
                                <option value="3">Dağıtıcı</option>
                                <option value="4">Bayi</option>
                                <option value="5">Hedef Müşteri</option>
                                <option value="6">Hedef Bayi</option>
                                <option value="7">Alt Bayi</option>
                                <option value="8">Bağlı ortaklık</option>  
                            </select>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Döviz Tipi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select class="form-control" ng-model="DovizTip" ng-disabled="EvrakLock">
                                <option value="0">Türk Lirası</option>
                                <option value="1">Dolar</option>
                                <option value="2">Euro</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Temsilci Kodu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select class="form-control" ng-model="Temsilci" ng-disabled="EvrakLock" ng-change="TemsilciChange()">
                                <option ng-repeat="option in TemsilciListe" value="{{option.TEMSILCI}}">{{option.TEMSILCIADI}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="InsertLock" ng-click="CariEkleInsert()">Cari Oluştur</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="TbCariDuzenle" class="tab-pane">
                <div class="panel">
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h4 text-primary">Cari Düzenle</label> 
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="InsertLock" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-4 px-1">
                        <div class="checkbox-custom checkbox-info my-0">
                        <input type="checkbox" name="inputCheckboxes" ng-model="ChkDuzenleKontrol" ng-change="DuzenleChange()" checked="">
                        <label for="inputUnchecked"><div class="text-info"><div class="col-form-label py-0"><b>Düzenle</b></div></div></label>
                        </div>
                    </div> 
                    <div class="form-group row my-1 pb-10" >
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cari Kodu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input disabled type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="CariKodu" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Unvan 1 :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariAdi" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Unvan 2 :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariUnvan2" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Vergi Daire Adı :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariVDADI" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Vergi Daire No :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="CariVDNO" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Mail Adresi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Email" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cep Telefonu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="TelNo1" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Adres-1 :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Adres1" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Adres-2 :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Adres2" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">İl :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Il" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">İlçe :</label> 
                        </div>
                        <div class="col-lg-5 col-sm-6 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  ng-model="Ilce" ng-disabled="DuzenleLock">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Cari Tipi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select id="CariTip" class="form-control" ng-model="CariTip" ng-disabled="DuzenleLock">
                                <option value="0">Müşteri</option>
                                <option value="1">Satıcı</option>
                                <option value="2">Diğer Cari</option>
                                <option value="3">Dağıtıcı</option>
                                <option value="4">Bayi</option>
                                <option value="5">Hedef Müşteri</option>
                                <option value="6">Hedef Bayi</option>
                                <option value="7">Alt Bayi</option>
                                <option value="8">Bağlı ortaklık</option>  
                            </select>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Döviz Tipi :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select id="DovizCinsi" class="form-control" ng-model="DovizTip" ng-disabled="DuzenleLock">
                                <option value="0">Türk Lirası</option>
                                <option value="1">Dolar</option>
                                <option value="2">Euro</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row my-1 pb-10">
                        <div class="col-lg-1 col-sm-5 pt-3">
                            <label class="mb-0 h5 text-primary">Temsilci Kodu :</label> 
                        </div>
                        <div class="col-lg-10 col-sm-6 px-1">
                            <select class="form-control" id="Temsilci" ng-model="Temsilci" ng-disabled="DuzenleLock" ng-change="TemsilciChange()">
                                <option ng-repeat="option in TemsilciListe" value="{{option.TEMSILCI}}">{{option.TEMSILCIADI}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="InsertLock" ng-click="CariUpdate()">Cari Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
