<div class="col-12" ng-controller="CariListeCtrl" ng-init="YeniEvrak()">
    <div class="page-content container-fluid">
        <div class="tab-content">
            <div id="TbMain" class="tab-pane active">
                <div style="margin-left: -25px; margin-right: -25px; margin-top: -5px;" class="panel panel-primary panel-line">
                    <div class="panel-heading">
                        <h3 style="font-weight:bold" class="panel-title">Cari Listesi</h3>
                    </div>
                    
                    <div style="margin-left: -15px; margin-right: -15px; margin-top: -5px;" class="panel-body">
                        <div class="row pt-5">
                            <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                                <label class="mb-0 h4 text-primary">Detay Bilgileri Görmek İçin Cari Seçiniz !</label> 
                            </div>
                        </div>
                        <div class="form-group row my-1">
                            <div class="col-4 px-1">
                                <select class="form-control" ng-model="CmbCariAra" ng-disabled="EvrakLock">
                                    <option value="0">ADI</option>
                                    <option value="1">KODU</option>
                                </select>
                            </div>
                            <div class="col-8 px-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-keypress = "BtnCariListeleEnter($event)" ng-model="TxtCariAra" ng-disabled="EvrakLock">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary"  ng-click="BtnCariListele()"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 offset-5" ng-show="Loading" >
                                <div class="loader vertical-align-middle loader-circle"></div>
                            </div>
                        <div class="row py-1 px-1" ng-show="TblLoading">           
                            <div id="TblCari"></div>                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="TbDetay" class="tab-pane">
                <div style="margin-left: -25px; margin-right: -25px; margin-top: -5px;" class="panel panel-primary panel-line">
                    <div class="panel-heading">
                        <h3 style="font-weight:bold" class="panel-title">Cari Detay</h3>
                          <div class="row pt-0 pb-1 pb-5">
                            <div class="col-4 px-1">
                                <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="text-primary" style="padding: -10px;"><h3 class="text-center text-primary">{{CariKodu}} - {{CariAdi}}</h3> </div>
                    </div>
                    <div style="margin-left: -15px; margin-right: -15px; margin-top: -5px;" class="panel-body">
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">V.D Adı - No :</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{CariVDADI}} - {{CariVDNO}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">Adres : </label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{Adres}} {{Adres1}} {{Adres2}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">Tel No :</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{Telnolge}}{{TelNo1}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">Ana Bakiye :</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{CariBakiyeAna}} TL  </label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">Alternatif Bakiye :</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{CariBakiyeAtl}} USD  </label></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-info"><label class="form-control-label float-right">Orjinal Doviz Bakiye 2:</label></div>
                            <div class="col-8 px-0"><label class="form-control-label pl-10">{{CariBakiyeOrj}} {{DovizSembol}}  </label></div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
