<style>
    .rowheight
    {
        font-size: 12
        421px;    
    }
</style>
<div class="col px-0 " ng-controller="TahsilatMakbuzuCtrl" ng-init="YeniEvrak(0)">
    <div class="panel panel-bordered ">
        <div class="panel-body py-1">
            <div class="tab-content">
                <div id="TbMain" class="tab-pane active ">
                    <div class="row pb-15">
                        <div class="col-8 px-1">
                            <select class="form-control form-control" ng-model="CmbEvrakTip" ng-disabled="EvrakLock">
                                <option value="0" selected>TAHSİLAT</option>
                            </select>
                        </div>
                        <div class="col-4 px-1">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle px-0" id="DrpwSiparis" data-toggle="dropdown" aria-expanded="false">İşlemler</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="orderdropdownanimation" role="menu" x-placement="bottom-start">
                                <button class="dropdown-item" href="#" role="menu-item" ng-click="YeniEvrak(0)">Yeni Tahsilat</button>
                                <button class="dropdown-item" data-target="#MdlEvrakGetir" data-toggle="modal" role="menu-item">Tahsilat Getir</a>
                                <button class="dropdown-item" href="#" role="menu-item" ng-click="EvrakDelete(0)">Tahsilat Sil</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 px-0 text-info"><label class="form-control-label float-right">Seri/Sıra No :</label></div>
                        <div class="col-7 px-0"><label class="form-control-label pl-10">{{Seri}} - {{Sira}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-5 px-0 text-info"><label class="form-control-label float-right">Cari :</label></div>
                        <div class="col-7 px-0 text-truncate"><label class="form-control-label pl-10">{{CariAdi}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-5 px-0 text-info"><label class="form-control-label float-right">Personel :</label></div>
                        <div class="col-7 px-0 text-truncate"><label class="form-control-label pl-10">{{Personel}}</label></div>
                    </div>
                    <div class="row pb-50">
                        <div class="col-5 px-0 text-info"><label class="form-control-label float-right">Tarih :</label></div>
                        <div class="col-7 px-0 text-truncate"><label class="form-control-label pl-10">{{Tarih}}</label></div>
                    </div>
                    <div class="row pt-50">
                        <div class="col-6">
                            <button class="btn btn-block btn-primary h-50" ng-click="BelgeBilgisiClick()">Belge Bilgisi</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-primary h-50" ng-click="CariSecClick()">Cari Seç</button>
                        </div>
                    </div>
                    <div class="row py-10">
                        <div class="col-6">
                            <button class="btn btn-block btn-primary h-50" ng-click="MeblaGirisClick()">Mebla Giriş</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-primary h-50" ng-click="IslemSatirlariClick()">İşlem Satırları</button>
                        </div>
                    </div> 
                </div>
                <div id="TbBelgeBilgisi" class="tab-pane">
                    <div class="row pt-0 pb-1 pb-5">
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-4 text-info px-1"><div class="col-form-label float-right py-2">Seri/Sıra No:</div></div>
                        <div class="col-3 px-1">
                            <input type="text" class="form-control" ng-model="Seri" ng-disabled="EvrakLock">
                        </div>
                        <div class="col-5 px-1">
                            <input type="text" class="form-control" ng-model="Sira" ng-disabled="EvrakLock">
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label float-right py-2">Belge No:</div></div>
                        <div class="col-8 px-1">
                            <input type="text" class="form-control" ng-model="BelgeNo" ng-disabled="EvrakLock">
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right py-2">Sorumluluk :</div></div>
                        <div class="col-8 px-1">
                            <select class="form-control" ng-model="Sorumluluk" >
                                <option ng-repeat="option in SorumlulukListe" value="{{option.KODU}}">{{option.ADI}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right  py-2">DovizTip:</div></div>
                        <div class="col-8 px-1">
                            <select class="form-control" ng-model="DovizChangeKodu" ng-disabled="EvrakLock" ng-change="DovizChange()">
                                <option value="0">{{DovizSembol}}</option>
                                <option value="1">{{DovizSembol1}}</option>
                                <option value="2">{{DovizSembol2}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right  py-2">Personel:</div></div>
                        <div class="col-8 px-1">
                            <select class="form-control" ng-model="Personel" ng-disabled="EvrakLock">
                                <option ng-repeat="option in PersonelListe" value="{{option.KODU}}">{{option.ADI}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="TbCariSec" class="tab-pane">
                    <div class="row py-1">
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h4 text-primary">{{CariKodu}} - {{CariAdi}}</label> 
                        </div>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-4 px-1">
                            <select class="form-control" ng-model="CmbCariAra" ng-disabled="EvrakLock">
                                <option value="0">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8 px-1">
                            <input type="text" class="form-control" ng-model="TxtCariAra" ng-disabled="EvrakLock">
                        </div>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-6">
                            <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="MainClick()">Seç</button>
                        </div>
                        <div class="col-6">
                            <button class="form-group btn btn-block btn-primary my-1 h-40" ng-click="BtnCariListele()">Listele</button>
                        </div>
                    </div>
                    <div class="col-1 offset-5" ng-show="Loading">
                        <div class="loader vertical-align-middle loader-circle"></div>
                    </div>
                    <div class="row py-1 px-1" ng-show="TblLoading">
                        <div id="TblCari"></div>
                    </div>
                </div>
                <div id="TbMeblagGiris" class="tab-pane">
                    <div class="row pt-0 pb-1 pb-5">
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="IslemSatirlariClick()"><i class="far fa-file-alt fa-lg" ></i></button>
                        </div>
                        <div class="col-4 px-1">
                            <a href="#!SatisFatura"><button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="BtnFatClick()"><b>F</b></button></a>
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right py-2">Cinsi :</div></div>
                        <div class="col-8 px-1">
                            <select class="form-control" ng-model="TahsilatCinsi" ng-change="TahsilatCinsiChange()">
                                <option value="0">NAKİT</option>
                                <option value="1">MÜŞTERİ ÇEKİ</option>
                                <option value="2">MÜŞTERİ SENEDİ</option>
                                <option value="3">KREDİ KARTI</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right py-2">Kasa Banka :</div></div>
                        <div class="col-8 px-1">
                            <select class="form-control"  ng-model="KasaBanka" ng-change="KasaChange()">
                                <option ng-repeat="option in KasaBankaListe" value="{{option.KODU}}">{{option.ADI}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-info px-1"><div class="col-form-label px-1 float-right  py-2">Vade :</div></div>
                        <div class="col-8 px-1">
                            <div class="input-group input-group-icon">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="icon wb-calendar" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <input type="text" class="form-control" type="text" id="Tarih" ng-model="Tarih" data-provide="datepicker" ng-disabled="EvrakLock">
                            </div>
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <div class="col-4 text-info px-1"><div class="col-form-label float-right py-2">Tutar : </div></div>
                        <div class="col-8 px-1">
                            <input type="number" class="form-control" ng-model="Tutar" id="Tutar">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Ref No :</label></div>
                        <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{TrefNo}}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-4 px-0 text-info"><label class="form-control-label float-right">Bakiye :</label></div>
                        <div class="col-8 px-0 text-truncate"><label class="form-control-label pl-10">{{CariBakiye}}</label></div>
                    </div>
                    <div class="row my-0 pt-10">
                        <div class="col-12 pt-5 px-1">
                            <button type="submit" class="btn btn-primary btn-block h-40" ng-disabled="InsertLock" ng-click="Insert()">Ekle</button>
                        </div>
                    </div>
                    <div class="row py-1 px-1">
                        <div id="TblIslem"></div>
                    </div>
                </div>
                <div id="TbIslemSatirlari" class="tab-pane">
                    <div class="row py-1">
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4 offset-4 px-1">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle mb-1 h-40" id="DrpwSiparis" data-toggle="dropdown" aria-expanded="false">İşlemler</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="orderdropdownanimation" role="menu" x-placement="bottom-start">
                                <button class="dropdown-item" ng-click="BtnDuzenle()" data-toggle="modal" role="menu-item">Düzenle</button>
                                <button class="dropdown-item" role="menu-item" ng-click="SatirSil()">Satır Sil</button>
                                <button class="dropdown-item"  ng-click="BtnOnlineYazdir()"  role="menu-item">Online Yazdır</button>
                            </div> 
                        </div>
                    </div>
                    <div class="row py-1 px-1">
                        <div id="TblIslemSatirlari"></div>
                    </div>
                    <div class="row pt-20">
                        <div class="col-2 px-1">
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-block btn-primary h-60">
                                        <span class="glyphicon glyphicon-print"  aria-hidden="true" ng-click="BtnFisYazdir()"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-2 px-1">
                            <div class="row">
                                <div class="col-12">
                                    <a href="#!SatisFatura"><button class="btn btn-block btn-primary h-60" ng-click="BtnFatClick()">
                                        <b>F</b>
                                    </button></a>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-right my-1"><span style="color:dodgerblue;">Toplam :</span> {{Toplam | number:2}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- MODALLAR -->
    <!-- Evrak Getir Modal Başlangıç-->
    <div class="modal fade" id="MdlEvrakGetir" aria-labelledby="exampleOptionalSmall" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple modal-primary modal-center px-10">
            <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Evrak Getir</h4>
            </div>
                <div class="modal-body py-10">
                        <div class="form-group row my-10">
                            <label class="form-control-label col-lg-3 col-md-3 col-sm-4 offset-0 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Evrak Seri :</b></span></div></label>
                            <input type="text" class="form-control col-lg-9 col-md-9 col-sm-8 offset-0" ng-model="Seri">
                        </div>
                        <div class="form-group row my-10">
                            <label class="form-control-label col-lg-3 col-md-3 col-sm-4 offset-0 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Evrak Sıra :</b></span></div></label>
                            <input type="text" class="form-control col-lg-9 col-md-9 col-sm-8 offset-0" ng-model="Sira">
                        </div>
                    <div class="row my-5">
                        <button type="submit" class="btn btn-primary form-control-sm btn-block col-lg-12 col-sm-12 col-sm-12" ng-click="EvrakGetir(1)">Getir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- İşlem Satırları Miktar Ve Fiyat Düzenleme Modal -->
    <div class="modal fade example-modal-sm  px-10 modal-center" id="MdlDuzenle" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple modal-sm modal-center modal-primary ">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Düzenle</h4>
                </div>
                <div class="modal-body">
                    <div class="row py-5">
                        <div class="col-4 text-primary px-1"><div class="col-form-label float-right py-2">Meblağ : </div></div>
                        <div class="col-8 px-1">
                            <input type="text" class="form-control" ng-model="Meblag">
                        </div>
                    </div>
                    <div class="row px-10 py-10">
                        <button type="submit" class="btn btn-primary btn-block col-12" ng-click="BtnDuzenleKaydet()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Doviz Seçim Modal -->
    <div class="modal fade example-modal-sm  px-10 modal-center" id="MdlDoviz" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple modal-sm modal-center modal-primary ">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Alınan Para Birimi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-12 p-10">
                    <button class="btn btn-block btn-primary" ng-click="BtnCariDoviz()">{{KasaDovizAdi}}</button>
                    <button class="btn btn-block btn-primary" ng-click="BtnKasaDoviz()">{{CariDovizAdi}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#Tarih").datepicker({
    language: "tr"
    });
</script>
