<div class="col-12" ng-controller="DepoDurumRaporCtrl" ng-init="Init()">
    <div class="page-content container-fluid">
        <div class="tab-content">     
            <div id="TbMain" class="tab-pane active">
                <div class="panel">
                    <div style="margin-left: -22px; margin-right: -22px; margin-top: -5px;" class="panel panel-primary panel-line">
                            <div class="panel-heading">
                                <h3 style="font-weight:bold" class="panel-title">Depo Durum Raporu</h3>
                            </div>
                            <div style="margin-left: 0px; margin-right: 5px; margin-top: -5px;" class="panel-body">
                            <div class="row py-1">
                                <div class="col-11 px-1 py-5">
                                    <div class="input-group px-5">
                                        <input type="text" class="form-control focus" placeholder="Depo Listelemek İçin Tıklayınız..." ng-click="DepoSec()" ng-model="DepoAdi">
                                        <button type="submit" class="btn btn-primary" ng-click="BtnTemizle()"><i class="fas fa-backspace fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-1 text-primary px-1"><div class="col-form-label px-1 float-left  py-2"> Tarih:</div></div>
                                <div class="col-sm-7 col-md-2 px-1 m-5">
                                    <div class="input-group input-group-icon">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="icon wb-calendar" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="Tarih" type="text" ng-model="Tarih" data-provide="datepicker" ng-disabled="EvrakLock">
                                    </div>
                                </div>
                            </div>
                            <div class="row py-5">
                                <div class="col-6">
                                    <button class="btn btn-block btn-primary">
                                        <span class="glyphicon glyphicon-print"  aria-hidden="true" ng-click="BtnFisYazdir()"></span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary btn-block" ng-click="BtnGetir()">Getir</button>
                                </div>
                            </div>  
                            <div class="col-1 offset-5" ng-show="Loading" >
                                <div class="loader vertical-align-middle loader-circle"></div>
                            </div>
                            <div class="row py-1 px-1" ng-show="TblLoading">           
                                <div id="TblStokListe"></div>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="TbDepo" class="tab-pane">
                <div style="margin-left: -22px; margin-right: -22px; margin-top: -5px;" class="panel panel-primary panel-line">
                    <div style="margin-left: 0px; margin-right: 5px; margin-top: -5px;" class="panel-body">
                        <div class="row py-1">
                            <div class="col-4 px-1">
                                <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="form-group row my-1">
                            <div class="col-4 px-1">
                                <select class="form-control" ng-model="CmbDepoAra" ng-disabled="EvrakLock">
                                    <option value="0">ADI</option>
                                    <option value="1">KODU</option>
                                </select>
                            </div>
                            <div class="col-8 px-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-keypress = "BtnDepoListeleEnter($event)" ng-model="TxtDepoAra" ng-disabled="EvrakLock">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary"  ng-click="BtnDepoListele()"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 offset-5" ng-show="Loading" >
                                <div class="loader vertical-align-middle loader-circle"></div>
                        </div>
                        <div class="row py-1 px-1" ng-show="TblLoading">
                            <div id="TblDepo"></div>                        
                        </div>
                    </div>
                </div>
            </div>  
        </div>          
    </div>
</div>
<script>
    $("#Tarih").datepicker({
    language: "tr"
    });
</script>
        