<div class="col-12" ng-controller="StokRaporCtrl" ng-init="Init()">
  
    <div class="panel">
        <div class="panel-body">
            <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label text-primary">Stok Depo Miktarı Raporu</label>
                <input type="text" class="form-control focus" placeholder="Depo Listelemek İçin Tıklayınız..." data-target="#MdlDepoGetir" data-toggle="modal" ng-model="DepoAdi">
            </div>
            <div class="row py-5">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="BtnGetir()">Getir</button>
                </div>
            </div>            
            <div id="TblStokListe" class="pt-5"></div>
        </div>
    </div>
    <!-- Cari Listele Modal -->
    <div class="modal fade" id="MdlDepoGetir" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Stok Listele</h4>
                </div>
                <div class="modal-body">
                    <div class="row py-5">
                        <div class="col-4 px-1 ">
                            <select class="form-control" ng-model="CmbStokAra" ng-disabled="EvrakLock">
                                <option value="0">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8 px-1">
                            <input type="text" class="form-control" ng-model="TxtStokAra" ng-disabled="EvrakLock">
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-6">
                            <button class="btn btn-block btn-primary" ng-click="BtnDepoSec()">Depo Seç</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-primary" ng-click="BtnDepoListele()">Depo Listele</button>
                        </div>
                    </div>
                    <div class="col-1 offset-5" ng-show="Loading">
                        <div class="loader vertical-align-middle loader-circle"></div>
                    </div>
                    <div id="TblDepo" class="pt-5" ng-show="TblLoading"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $("#IlkTarih").datepicker({
        language: "tr"
        });
        $("#SonTarih").datepicker({
        language: "tr"
        });
</script>
        