<div class="col-12" ng-controller="YapilanTahsilatlarCtrl" ng-init="Init()">
    <br>
    <div class="panel my-2">
        <div class="row">
            <div class="col-xl-4 offset-xl-4 col-md-4 offset-md-4 col-sm-11 offset-1">
                <h4 class="text-primary">30 Günlük Tahsilatlar</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 text-primary px-1"><div class="col-form-label px-1 float-left  py-2"> Toplam Bakiye : {{ToplamBakiye}}</div></div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-3 text-primary px-1"><div class="col-form-label px-1 float-left  py-2">İlk Tarih:</div></div>
        <div class="col-sm-7 col-md-9 px-1">
            <div class="input-group input-group-icon">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="icon wb-calendar" aria-hidden="true"></span>
                    </div>
                </div>
                <input type="text" class="form-control" id="IlkTarih" type="text" ng-model="IlkTarih" data-provide="datepicker" ng-disabled="EvrakLock">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-3 text-primary px-1"><div class="col-form-label px-1 float-left  py-2">Son Tarih:</div></div>
        <div class="col-sm-7 col-md-9 px-1">
            <div class="input-group input-group-icon">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="icon wb-calendar" aria-hidden="true"></span>
                    </div>
                </div>
                <input type="text" class="form-control" id="SonTarih" type="text" ng-model="SonTarih" data-provide="datepicker" ng-disabled="EvrakLock">
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="BtnGetir()">RAPOR AL</button>
        </div>
    </div>
    <div id="TblTahsilatRapor" class="pt-5"></div>
        <!-- Islem Detay Modal -->
        <div class="modal fade" id="MdlIslemDetay" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-simple modal-center modal-primary">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Cari Haraketleri</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="TblCariFoy" class="pt-5 pb-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
 $("#IlkTarih").datepicker({
    language: "tr"
    });
    $("#SonTarih").datepicker({
    language: "tr"
    });
</script>
        